# Reports output
reports/

# Secrets / environment
*.env
.env
*.secret

# PowerShell session files
*.pssc
*.ps1xml

# Windows
Thumbs.db
desktop.ini

# VS Code
.vscode/
*.code-workspace

# JetBrains
.idea/

# Logs
*.log
